<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSGN</title>
    <link rel="stylesheet" href="/style/dsgn.css">
</head>
<body>
    <h2>Draw your idea</h2>

    <div class="drawing-book">
        <div class="tools">
            <p class="tool pen">Pen</p>
            <p class="tool brush">Brush</p>
            <p class="tool clear">Clear</p>
        </div>
        <div class="book"></div>
    </div>

<script src="/script/dsgn.js"></script>
</body>
</html>