<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Football</title>
    <link rel="stylesheet" href="/style/head.css">
</head>
<body>
    <img class="lapangan" src="/img/lapangan.jpg" alt="lapangan">
    <img class="char" src="/img/char.png" alt="char">

    <img class="left" src="/img/left.png" alt="left">
    <img class="right" src="/img/right.png" alt="right">



<script src="/script/head.js"></script>
</body>
</html>